################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[geos]
location=${buildout:directory}/../../dependencies/geos-3.2/parts/part
[postgresql]
location=${buildout:directory}/../../dependencies/postgresql-9.1/parts/part
[proj]
location=${buildout:directory}/../../dependencies/proj-4/parts/part
[iconv]
location=${buildout:directory}/../../dependencies/libiconv-1.12/parts/part
[part]
md5sum=6dab4ee88d2996e17a1d8503b42ef849

recipe = minitage.recipe.cmmi
url = http://${mirrors:sourceforge}/minitage/postgis-1.4-9752.tbz2?use_mirror=switch

configure-options =
    --with-pgsql=${postgresql:location}/bin/pg_config
    --with-projdir=${proj:location}
    --with-geosconfig=${geos:location}/bin/geos-config
# force to use prefixed iconv
make-options=ICONV_LDFLAGS='-liconv  -L${iconv:location}/lib -Wl,-rpath -Wl,${iconv:location}/lib'
make-binary-darwin=make
gmake=True
post-make-hook = ${buildout:hooks-directory}/postgis.py:h
pre-configure-hook = ${buildout:hooks-directory}/postgis.py:h

[mirrors]
minitage=distfiles.minitage.org/public/externals
sourceforge=downloads.sourceforge.net
